In [2]:
import pandas as pd
import folium as fl

In [3]:
# covid data

data = pd.read_csv('data/Covid-cases-India.csv')
print(data)

# dropiing the s.no col

data.drop(data['S. No.'], axis=1, inplace=True)

    S. No. Name of State / UT  Total Confirmed cases (Indian National)  \
0        1     Andhra Pradesh                                      757
1        2       Chhattisgarh                                       10
2        3              Delhi                                     2081
3        4            Gujarat                                     2066
4        5            Haryana                                     1000
5        6   Himachal Pradesh                                       50
6        7          Karnataka                                      200
7        8             Kerala                                      365
8        9     Madhya Pradesh                                     1540
9       10        Maharashtra                                     4669
10      11             Odisha                                       50
11      12         Puducherry                                       10
12      13             Punjab                                      900
13      14          Rajasthan                                     1576
14      15         Tamil Nadu                                     1520
15      16          Telengana                                      911
16      17         Chandigarh                                      400
17      18  Jammu and Kashmir                                      158
18      19             Ladakh                                       20
19      20      Uttar Pradesh                                     1294
20      21        Uttarakhand                                       35
21      22        West Bengal                                      120
22      23              Bihar                                       39
23      24            Mizoram                                       56
24      25                Goa                                      200
25      26            Manipur                                      100

    Total Confirmed cases ( Foreign National )  Cured  Death
0                                            0      2      4
1                                            0      2      3
2                                          700     50    104
3                                            0     25      8
4                                           19     11      3
5                                            0      8      1
6                                            0     10      6
7                                            7     20     19
8                                            0      3      9
9                                            3     39    100
10                                           0      9     11
11                                           0      0      0
12                                           0      9     24
13                                           2      9     25
14                                           3      1      1
15                                          11      1      0
16                                           0      0      0
17                                           0      8     15
18                                           0      0      0
19                                           1     18      5
20                                           0      0      0
21                                           0      0      1
22                                           0      0      1
23                                           0      0      0
24                                           0      0      0
25                                           0      0      0

KeyError: '[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26] not found in axis'

In [4]:
data.columns

Index(['S. No.', 'Name of State / UT',
       'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )', 'Cured', 'Death'],
      dtype='object')

In [5]:
data.drop(data.columns[0], axis=1, inplace=True)

In [6]:
data

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death
0,Andhra Pradesh,757,0,2,4
1,Chhattisgarh,10,0,2,3
2,Delhi,2081,700,50,104
3,Gujarat,2066,0,25,8
4,Haryana,1000,19,11,3
5,Himachal Pradesh,50,0,8,1
6,Karnataka,200,0,10,6
7,Kerala,365,7,20,19
8,Madhya Pradesh,1540,0,3,9
9,Maharashtra,4669,3,39,100
10,Odisha,50,0,9,11
11,Puducherry,10,0,0,0
12,Punjab,900,0,9,24
13,Rajasthan,1576,2,9,25
14,Tamil Nadu,1520,3,1,1
15,Telengana,911,11,1,0
16,Chandigarh,400,0,0,0
17,Jammu and Kashmir,158,0,8,15
18,Ladakh,20,0,0,0
19,Uttar Pradesh,1294,1,18,5
20,Uttarakhand,35,0,0,0
21,West Bengal,120,0,0,1
22,Bihar,39,0,0,1
23,Mizoram,56,0,0,0
24,Goa,200,0,0,0
25,Manipur,100,0,0,0

In [7]:
# adding the total cases

# adding india + foreign national cases

data['total_cases'] = data['Total Confirmed cases (Indian National)'] + data['Total Confirmed cases ( Foreign National )']
data['total_cases']

0      757
1       10
2     2781
3     2066
4     1019
5       50
6      200
7      372
8     1540
9     4672
10      50
11      10
12     900
13    1578
14    1523
15     922
16     400
17     158
18      20
19    1295
20      35
21     120
22      39
23      56
24     200
25     100
Name: total_cases, dtype: int64

In [8]:
data

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death,total_cases
0,Andhra Pradesh,757,0,2,4,757
1,Chhattisgarh,10,0,2,3,10
2,Delhi,2081,700,50,104,2781
3,Gujarat,2066,0,25,8,2066
4,Haryana,1000,19,11,3,1019
5,Himachal Pradesh,50,0,8,1,50
6,Karnataka,200,0,10,6,200
7,Kerala,365,7,20,19,372
8,Madhya Pradesh,1540,0,3,9,1540
9,Maharashtra,4669,3,39,100,4672
10,Odisha,50,0,9,11,50
11,Puducherry,10,0,0,0,10
12,Punjab,900,0,9,24,900
13,Rajasthan,1576,2,9,25,1578
14,Tamil Nadu,1520,3,1,1,1523
15,Telengana,911,11,1,0,922
16,Chandigarh,400,0,0,0,400
17,Jammu and Kashmir,158,0,8,15,158
18,Ladakh,20,0,0,0,20
19,Uttar Pradesh,1294,1,18,5,1295
20,Uttarakhand,35,0,0,0,35
21,West Bengal,120,0,0,1,120
22,Bihar,39,0,0,1,39
23,Mizoram,56,0,0,0,56
24,Goa,200,0,0,0,200
25,Manipur,100,0,0,0,100

In [9]:
# total cases over all

total_cases_overall = data['total_cases'].sum()
total_cases_overall

20873

In [10]:
data['active_cases'] = data['total_cases'] - (data['Cured'] + data['Death'])
data['active_cases']

0      751
1        5
2     2627
3     2033
4     1005
5       41
6      184
7      333
8     1528
9     4533
10      30
11      10
12     867
13    1544
14    1521
15     921
16     400
17     135
18      20
19    1272
20      35
21     119
22      38
23      56
24     200
25     100
Name: active_cases, dtype: int64

In [11]:
data

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death,total_cases,active_cases
0,Andhra Pradesh,757,0,2,4,757,751
1,Chhattisgarh,10,0,2,3,10,5
2,Delhi,2081,700,50,104,2781,2627
3,Gujarat,2066,0,25,8,2066,2033
4,Haryana,1000,19,11,3,1019,1005
5,Himachal Pradesh,50,0,8,1,50,41
6,Karnataka,200,0,10,6,200,184
7,Kerala,365,7,20,19,372,333
8,Madhya Pradesh,1540,0,3,9,1540,1528
9,Maharashtra,4669,3,39,100,4672,4533
10,Odisha,50,0,9,11,50,30
11,Puducherry,10,0,0,0,10,10
12,Punjab,900,0,9,24,900,867
13,Rajasthan,1576,2,9,25,1578,1544
14,Tamil Nadu,1520,3,1,1,1523,1521
15,Telengana,911,11,1,0,922,921
16,Chandigarh,400,0,0,0,400,400
17,Jammu and Kashmir,158,0,8,15,158,135
18,Ladakh,20,0,0,0,20,20
19,Uttar Pradesh,1294,1,18,5,1295,1272
20,Uttarakhand,35,0,0,0,35,35
21,West Bengal,120,0,0,1,120,119
22,Bihar,39,0,0,1,39,38
23,Mizoram,56,0,0,0,56,56
24,Goa,200,0,0,0,200,200
25,Manipur,100,0,0,0,100,100

In [19]:

# The code data.style.background_gradient(cmap='Blues') is used to apply a background gradient to the DataFrame data using the 'Blues' colormap. 
# This will visually represent the numerical values in the DataFrame using shades of red, where darker shades indicate higher values.

data.style.background_gradient(cmap='Reds')

In [13]:
# # Red' is not a valid value for cmap; 
# supported values are 
# 'Accent', 'Accent_r', 'Blues', 'Blues_r', 'BrBG', 'BrBG_r', 'BuGn', 'BuGn_r', 
# 'BuPu', 'BuPu_r', 'CMRmap', 'CMRmap_r', 'Dark2', 'Dark2_r', 'GnBu', 'GnBu_r', 
# 'Grays', 'Greens', 'Greens_r', 'Greys', 'Greys_r', 'OrRd', 'OrRd_r', 'Oranges', 
# 'Oranges_r', 'PRGn', 'PRGn_r', 'Paired', 'Paired_r', 'Pastel1', 'Pastel1_r', 
# 'Pastel2', 'Pastel2_r', 'PiYG', 'PiYG_r', 'PuBu', 'PuBuGn', 'PuBuGn_r', 
# 'PuBu_r', 'PuOr', 'PuOr_r', 'PuRd', 'PuRd_r', 'Purples', 'Purples_r', 'RdBu', 
# 'RdBu_r', 'RdGy', 'RdGy_r', 'RdPu', 'RdPu_r', 'RdYlBu', 'RdYlBu_r', 'RdYlGn', 
# 'RdYlGn_r', 'Reds', 'Reds_r', 'Set1', 'Set1_r', 'Set2', 'Set2_r', 'Set3', 'Set3_r', 
# 'Spectral', 'Spectral_r', 'Wistia', 'Wistia_r', 'YlGn', 'YlGnBu', 'YlGnBu_r', 
# 'YlGn_r', 'YlOrBr', 'YlOrBr_r', 'YlOrRd', 'YlOrRd_r', 'afmhot', 'afmhot_r', 
# 'autumn', 'autumn_r', 'binary', 'binary_r', 'bone', 'bone_r', 'brg', 'brg_r', 
# 'bwr', 'bwr_r', 'cividis', 'cividis_r', 'cool', 'cool_r', 'coolwarm', 'coolwarm_r', 
# 'copper', 'copper_r', 'cubehelix', 'cubehelix_r', 'flag', 'flag_r', 'gist_earth', 
# 'gist_earth_r', 'gist_gray', 'gist_gray_r', 'gist_grey', 'gist_heat', 'gist_heat_r', 
# 'gist_ncar', 'gist_ncar_r', 'gist_rainbow', 'gist_rainbow_r', 'gist_stern', 'gist_stern_r', 'gist_yarg', 'gist_yarg_r', 
# 'gist_yerg', 'gnuplot', 'gnuplot2', 'gnuplot2_r', 'gnuplot_r', 'gray', 'gray_r', 'grey', 'hot', 'hot_r', 'hsv', 'hsv_r', 
# 'inferno', 'inferno_r', 'jet', 'jet_r', 'magma', 'magma_r', 'nipy_spectral', 'nipy_spectral_r', 'ocean', 'ocean_r', 
# 'pink', 'pink_r', 'plasma', 'plasma_r', 'prism', 'prism_r', 'rainbow', 'rainbow_r', 'seismic', 'seismic_r', 'spring', 
# 'spring_r', 'summer', 'summer_r', 'tab10', 'tab10_r', 'tab20', 'tab20_r', 'tab20b', 'tab20b_r', 'tab20c', 'tab20c_r', 
# 'terrain', 'terrain_r', 'turbo', 'turbo_r', 'twilight', 'twilight_r', 'twilight_shifted', 'twilight_shifted_r', 'viridis', 
# 'viridis_r', 'winter', 'winter_r'

In [14]:
# Total Active cases

list  = data.groupby('Name of State / UT')
print(list.indices)
print(len(list.indices))

{'Andhra Pradesh': array([0]), 'Bihar': array([22]), 'Chandigarh': array([16]), 'Chhattisgarh': array([1]), 'Delhi': array([2]), 'Goa': array([24]), 'Gujarat': array([3]), 'Haryana': array([4]), 'Himachal Pradesh': array([5]), 'Jammu and Kashmir': array([17]), 'Karnataka': array([6]), 'Kerala': array([7]), 'Ladakh': array([18]), 'Madhya Pradesh': array([8]), 'Maharashtra': array([9]), 'Manipur': array([25]), 'Mizoram': array([23]), 'Odisha': array([10]), 'Puducherry': array([11]), 'Punjab': array([12]), 'Rajasthan': array([13]), 'Tamil Nadu': array([14]), 'Telengana': array([15]), 'Uttar Pradesh': array([19]), 'Uttarakhand': array([20]), 'West Bengal': array([21])}
26

In [15]:
total_active_cases = data.groupby('Name of State / UT')['total_cases'].sum()
styled = total_active_cases.style.background_gradient(cmap="Reds")

AttributeError: 'Series' object has no attribute 'style'

In [16]:


 # However, when you're chaining .style.background_gradient() directly to the total_active_cases Series, 
 # it won't work because the style attribute is not available for Series objects.


total_active_cases = data.groupby('Name of State / UT')['total_cases'].sum().reset_index()

# reset_index() converts the resulting Series back to a DataFrame with the state names as a column.

styled_total_active_cases = total_active_cases.style.background_gradient(cmap="Reds")
styled_total_active_cases

In [17]:
# Plotting on map

map = fl.Map(location=[30, 70], zoom_start=5, tiles='Stamen Terrain', attr='Map tiles by Stamen Design, under CC BY 3.0. Data by OpenStreetMap, under ODbL.')
map

In [73]:
if data['Name of State / UT'] == "Andhra Pradesh":
    print(true)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [18]:
for lat, long, value, name in zip(data['Latitude'], data['Longitude'], data['Total Cases'], data['Name of State / UT']):
    fl.CircleMarker([lat, long], 
                    radius=value*0.03, 
                    popup='<strong>State</strong>: ' + str(name).capitalize() + '<br>' +
                          '<strong>Total Cases</strong>: ' + str(value) + '<br>', 
                    color='red', 
                    fill_color='red', 
                    fill_opacity=0.1).add_to(map)

KeyError: 'Latitude'