In [ ]:
# 3 steps

# - split the original data and categorize into group
# - apply function to group
# - combine the result

In [8]:
import numpy as np
import pandas as pd

data = pd.read_csv('data/complete.csv')
data

,awardYear,category,categoryFullName,sortOrder,portion,prizeAmount,prizeAmountAdjusted,dateAwarded,prizeStatus,motivation,...,org_founded_country,org_founded_countryNow,org_founded_locationString,ind_or_org,residence_1,residence_2,affiliation_1,affiliation_2,affiliation_3,affiliation_4
0,2001,Economic Sciences,The Sveriges Riksbank Prize in Economic Scienc...,2,1/3,10000000,12295082,2001-10-10,received,for their analyses of markets with asymmetric ...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Stanford University, Stanford, CA, USA",NaN,NaN,NaN
1,1975,Physics,The Nobel Prize in Physics,1,1/3,630000,3404179,1975-10-17,received,for the discovery of the connection between co...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Niels Bohr Institute, Copenhagen, Denmark",NaN,NaN,NaN
2,2004,Chemistry,The Nobel Prize in Chemistry,1,1/3,10000000,11762861,2004-10-06,received,for the discovery of ubiquitin-mediated protei...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Technion - Israel Institute of Technology, Hai...",NaN,NaN,NaN
3,1982,Chemistry,The Nobel Prize in Chemistry,1,1,1150000,3102518,1982-10-18,received,for his development of crystallographic electr...,...,NaN,NaN,NaN,Individual,NaN,NaN,"MRC Laboratory of Molecular Biology, Cambridge...",NaN,NaN,NaN
4,1979,Physics,The Nobel Prize in Physics,2,1/3,800000,2988048,1979-10-15,received,for their contributions to the theory of the u...,...,NaN,NaN,NaN,Individual,NaN,NaN,"International Centre for Theoretical Physics, ...","Imperial College, London, United Kingdom",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,1972,Physics,The Nobel Prize in Physics,1,1/3,480000,3345725,NaN,received,for their jointly developed theory of supercon...,...,NaN,NaN,NaN,Individual,NaN,NaN,"University of Illinois, Urbana, IL, USA",NaN,NaN,NaN
946,1954,Chemistry,The Nobel Prize in Chemistry,1,1,181647,2640218,NaN,received,for his research into the nature of the chemic...,...,NaN,NaN,NaN,Individual,NaN,NaN,"California Institute of Technology (Caltech), ...",NaN,NaN,NaN
947,1911,Chemistry,The Nobel Prize in Chemistry,1,1,140695,7327865,NaN,received,in recognition of her services to the advancem...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Sorbonne University, Paris, France",NaN,NaN,NaN
948,1981,Peace,The Nobel Peace Prize,1,1,1000000,2929688,1981-10-14,received,for promoting the fundamental rights of refugees,...,Switzerland,Switzerland,"Geneva, Switzerland",Organization,NaN,NaN,NaN,NaN,NaN,NaN
949,1963,Peace,The Nobel Peace Prize,1,1/2,265000,2839286,1963-10-10,received,for promoting the principles of the Geneva Con...,...,Switzerland,Switzerland,"Geneva, Switzerland",Organization,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data.shape

data.columns

Index(['awardYear', 'category', 'categoryFullName', 'sortOrder', 'portion',
       'prizeAmount', 'prizeAmountAdjusted', 'dateAwarded', 'prizeStatus',
       'motivation', 'categoryTopMotivation', 'award_link', 'id', 'name',
       'knownName', 'givenName', 'familyName', 'fullName', 'penName', 'gender',
       'laureate_link', 'birth_date', 'birth_city', 'birth_cityNow',
       'birth_continent', 'birth_country', 'birth_countryNow',
       'birth_locationString', 'death_date', 'death_city', 'death_cityNow',
       'death_continent', 'death_country', 'death_countryNow',
       'death_locationString', 'orgName', 'nativeName', 'acronym',
       'org_founded_date', 'org_founded_city', 'org_founded_cityNow',
       'org_founded_continent', 'org_founded_country',
       'org_founded_countryNow', 'org_founded_locationString', 'ind_or_org',
       'residence_1', 'residence_2', 'affiliation_1', 'affiliation_2',
       'affiliation_3', 'affiliation_4'],
      dtype='object')

In [10]:
data = data[['awardYear', 'category','prizeAmount','prizeAmountAdjusted', 'name','gender','birth_continent',]]
data

,awardYear,category,prizeAmount,prizeAmountAdjusted,name,gender,birth_continent
0,2001,Economic Sciences,10000000,12295082,A. Michael Spence,male,North America
1,1975,Physics,630000,3404179,Aage N. Bohr,male,Europe
2,2004,Chemistry,10000000,11762861,Aaron Ciechanover,male,Asia
3,1982,Chemistry,1150000,3102518,Aaron Klug,male,Europe
4,1979,Physics,800000,2988048,Abdus Salam,male,Asia
...,...,...,...,...,...,...,...
945,1972,Physics,480000,3345725,John Bardeen,male,North America
946,1954,Chemistry,181647,2640218,Linus Pauling,male,North America
947,1911,Chemistry,140695,7327865,Marie Curie,female,Europe
948,1981,Peace,1000000,2929688,Office of the United Nations High Commissioner...,NaN,NaN
949,1963,Peace,265000,2839286,International Committee of the Red Cross,NaN,NaN

In [17]:
# step 1 - splitting into group

# lets split based on the category

grouped = data.groupby('category')
print(grouped)

grouped_category_year = data.groupby(['category','awardYear'])
print(grouped_category_year)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x115da4f70>
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x115da4e20>

In [18]:
grouped.indices

{'Chemistry': array([  2,   3,   7,   9,  10,  11,  13,  14,  15,  17,  19,  39,  62,
         64,  66,  71,  75,  80,  81,  86,  92, 104, 107, 112, 129, 135,
        153, 169, 175, 178, 181, 188, 197, 199, 203, 210, 215, 223, 227,
        239, 247, 249, 258, 264, 265, 268, 272, 274, 280, 282, 284, 289,
        296, 298, 310, 311, 317, 318, 337, 341, 343, 348, 352, 357, 362,
        365, 366, 372, 374, 384, 394, 395, 396, 415, 416, 419, 434, 440,
        442, 444, 446, 448, 450, 455, 456, 459, 461, 463, 465, 469, 475,
        504, 505, 508, 518, 522, 523, 524, 539, 549, 558, 559, 563, 567,
        571, 572, 585, 591, 596, 599, 627, 630, 632, 641, 643, 644, 648,
        659, 661, 666, 667, 668, 671, 673, 679, 681, 686, 713, 715, 717,
        719, 720, 722, 723, 725, 726, 729, 732, 738, 742, 744, 746, 751,
        756, 759, 763, 766, 773, 776, 798, 810, 813, 814, 817, 827, 828,
        829, 832, 839, 848, 853, 855, 862, 866, 880, 885, 886, 888, 889,
        892, 894, 897, 902, 904, 914, 915, 920, 921, 922, 940, 941, 943,
        946, 947]),
 'Economic Sciences': array([  0,   5,  45,  46,  58,  90,  96, 139, 140, 145, 152, 156, 157,
        180, 187, 193, 207, 219, 231, 232, 246, 250, 269, 279, 283, 295,
        305, 324, 346, 369, 418, 422, 425, 426, 430, 432, 438, 458, 467,
        476, 485, 510, 525, 527, 537, 538, 546, 580, 594, 595, 605, 611,
        636, 637, 657, 669, 670, 678, 700, 708, 716, 724, 734, 737, 739,
        745, 747, 749, 750, 753, 758, 767, 800, 805, 854, 856, 860, 864,
        871, 882, 896, 912, 916, 924]),
 'Literature': array([ 21,  31,  40,  49,  52,  98, 100, 101, 102, 111, 115, 142, 149,
        159, 170, 177, 201, 202, 220, 221, 233, 235, 237, 253, 257, 259,
        275, 277, 278, 286, 312, 315, 316, 321, 326, 333, 345, 347, 350,
        355, 359, 364, 370, 373, 385, 397, 400, 403, 406, 411, 435, 439,
        441, 454, 468, 479, 480, 482, 483, 492, 501, 506, 511, 516, 556,
        569, 581, 602, 604, 606, 613, 614, 618, 631, 633, 635, 640, 652,
        653, 655, 656, 665, 675, 683, 699, 761, 765, 771, 774, 777, 779,
        780, 784, 786, 788, 796, 799, 803, 836, 840, 842, 850, 861, 867,
        868, 878, 881, 883, 910, 917, 919, 927, 928, 929, 930, 936]),
 'Peace': array([  6,  12,  16,  25,  26,  27,  34,  36,  44,  47,  48,  54,  61,
         65,  72,  78,  79,  82,  95,  99, 116, 119, 120, 126, 137, 146,
        151, 166, 167, 171, 200, 204, 205, 206, 209, 213, 225, 236, 240,
        244, 255, 260, 266, 267, 270, 287, 303, 320, 329, 356, 360, 361,
        377, 386, 387, 388, 389, 390, 391, 392, 393, 433, 447, 449, 471,
        477, 481, 489, 491, 500, 512, 514, 517, 528, 529, 530, 533, 534,
        540, 542, 544, 545, 547, 553, 555, 560, 562, 574, 578, 590, 593,
        603, 607, 608, 609, 612, 615, 616, 617, 619, 620, 628, 634, 639,
        642, 664, 677, 688, 697, 703, 705, 710, 727, 736, 787, 793, 795,
        806, 823, 846, 847, 852, 865, 875, 876, 877, 895, 926, 934, 935,
        937, 944, 948, 949]),
 'Physics': array([  1,   4,   8,  20,  23,  24,  30,  32,  38,  51,  59,  60,  67,
         68,  69,  70,  74,  84,  89,  97, 103, 105, 108, 109, 114, 117,
        118, 122, 125, 127, 128, 130, 133, 141, 143, 144, 155, 162, 163,
        164, 165, 168, 173, 174, 176, 179, 183, 195, 212, 214, 216, 222,
        224, 228, 230, 234, 238, 241, 243, 251, 256, 263, 271, 276, 291,
        292, 297, 301, 306, 307, 308, 323, 327, 328, 330, 335, 336, 338,
        349, 351, 353, 354, 363, 367, 375, 376, 378, 381, 382, 398, 399,
        402, 404, 405, 408, 410, 412, 413, 420, 421, 424, 428, 429, 436,
        445, 451, 453, 457, 460, 462, 470, 472, 487, 495, 498, 499, 509,
        513, 515, 521, 526, 532, 535, 536, 541, 548, 550, 552, 557, 561,
        564, 565, 566, 573, 576, 577, 579, 583, 586, 588, 592, 601, 610,
        621, 622, 623, 629, 647, 650, 651, 654, 658, 674, 676, 682, 684,
        690, 691, 693, 694, 695, 696, 698, 702, 707, 711, 714, 721, 730,
        731, 735, 743, 752, 755, 770, 772, 775, 781, 785, 790, 792, 797,
        801, 802, 808, 822, 833, 834, 835, 844, 851, 870, 872, 879, 884,
        887, 890, 893, 900, 901, 903, 905, 907, 908, 909, 913, 925, 931,
        932, 933, 938, 942, 945]),
 'Physiology or Medicine': array([ 18,  22,  28,  29,  33,  35,  37,  41,  42,  43,  50,  53,  55,
         56,  57,  63,  73,  76,  77,  83,  85,  87,  88,  91,  93,  94,
        106, 110, 113, 121, 123, 124, 131, 132, 134, 136, 138, 147, 148,
        150, 154, 158, 160, 161, 172, 182, 184, 185, 186, 189, 190, 191,
        192, 194, 196, 198, 208, 211, 217, 218, 226, 229, 242, 245, 248,
        252, 254, 261, 262, 273, 281, 285, 288, 290, 293, 294, 299, 300,
        302, 304, 309, 313, 314, 319, 322, 325, 331, 332, 334, 339, 340,
        342, 344, 358, 368, 371, 379, 380, 383, 401, 407, 409, 414, 417,
        423, 427, 431, 437, 443, 452, 464, 466, 473, 474, 478, 484, 486,
        488, 490, 493, 494, 496, 497, 502, 503, 507, 519, 520, 531, 543,
        551, 554, 568, 570, 575, 582, 584, 587, 589, 597, 598, 600, 624,
        625, 626, 638, 645, 646, 649, 660, 662, 663, 672, 680, 685, 687,
        689, 692, 701, 704, 706, 709, 712, 718, 728, 733, 740, 741, 748,
        754, 757, 760, 762, 764, 768, 769, 778, 782, 783, 789, 791, 794,
        804, 807, 809, 811, 812, 815, 816, 818, 819, 820, 821, 824, 825,
        826, 830, 831, 837, 838, 841, 843, 845, 849, 857, 858, 859, 863,
        869, 873, 874, 891, 898, 899, 906, 911, 918, 923, 939])}

In [21]:
grouped_category_year.indices

{('Chemistry', 1901): array([415]),
 ('Chemistry', 1902): array([210]),
 ('Chemistry', 1903): array([839]),
 ('Chemistry', 1904): array([828]),
 ('Chemistry', 1905): array([10]),
 ('Chemistry', 1906): array([357]),
 ('Chemistry', 1907): array([188]),
 ('Chemistry', 1908): array([223]),
 ('Chemistry', 1909): array([902]),
 ('Chemistry', 1910): array([648]),
 ('Chemistry', 1911): array([947]),
 ('Chemistry', 1912): array([673, 885]),
 ('Chemistry', 1913): array([39]),
 ('Chemistry', 1914): array([853]),
 ('Chemistry', 1915): array([725]),
 ('Chemistry', 1918): array([272]),
 ('Chemistry', 1920): array([894]),
 ('Chemistry', 1921): array([265]),
 ('Chemistry', 1922): array([249]),
 ('Chemistry', 1923): array([274]),
 ('Chemistry', 1925): array([726]),
 ('Chemistry', 1926): array([848]),
 ('Chemistry', 1927): array([352]),
 ('Chemistry', 1928): array([11]),
 ('Chemistry', 1929): array([ 71, 341]),
 ('Chemistry', 1930): array([337]),
 ('Chemistry', 1931): array([112, 268]),
 ('Chemistry', 1932): array([395]),
 ('Chemistry', 1934): array([343]),
 ('Chemistry', 1935): array([258, 394]),
 ('Chemistry', 1936): array([681]),
 ('Chemistry', 1937): array([630, 668]),
 ('Chemistry', 1938): array([719]),
 ('Chemistry', 1939): array([  9, 539]),
 ('Chemistry', 1943): array([289]),
 ('Chemistry', 1944): array([644]),
 ('Chemistry', 1945): array([75]),
 ('Chemistry', 1946): array([419, 469, 897]),
 ('Chemistry', 1947): array([827]),
 ('Chemistry', 1948): array([66]),
 ('Chemistry', 1949): array([915]),
 ('Chemistry', 1950): array([522, 643]),
 ('Chemistry', 1951): array([197, 318]),
 ('Chemistry', 1952): array([ 62, 720]),
 ('Chemistry', 1953): array([372]),
 ('Chemistry', 1954): array([946]),
 ('Chemistry', 1955): array([886]),
 ('Chemistry', 1956): array([627, 810]),
 ('Chemistry', 1957): array([549]),
 ('Chemistry', 1958): array([264]),
 ('Chemistry', 1959): array([434]),
 ('Chemistry', 1960): array([904]),
 ('Chemistry', 1961): array([591]),
 ('Chemistry', 1962): array([459, 585]),
 ('Chemistry', 1963): array([317, 504]),
 ('Chemistry', 1964): array([178]),
 ('Chemistry', 1965): array([732]),
 ('Chemistry', 1966): array([751]),
 ('Chemistry', 1967): array([298, 563, 766]),
 ('Chemistry', 1968): array([524]),
 ('Chemistry', 1969): array([169, 632]),
 ('Chemistry', 1970): array([558]),
 ('Chemistry', 1971): array([311]),
 ('Chemistry', 1972): array([135, 829, 920]),
 ('Chemistry', 1973): array([227, 280]),
 ('Chemistry', 1974): array([667]),
 ('Chemistry', 1975): array([463, 888]),
 ('Chemistry', 1976): array([922]),
 ('Chemistry', 1977): array([384]),
 ('Chemistry', 1978): array([686]),
 ('Chemistry', 1979): array([282, 366]),
 ('Chemistry', 1980): array([659, 889, 943]),
 ('Chemistry', 1981): array([508, 729]),
 ('Chemistry', 1982): array([3]),
 ('Chemistry', 1983): array([362]),
 ('Chemistry', 1984): array([107]),
 ('Chemistry', 1985): array([365, 446]),
 ('Chemistry', 1986): array([181, 461, 940]),
 ('Chemistry', 1987): array([129, 175, 440]),
 ('Chemistry', 1988): array([348, 450, 744]),
 ('Chemistry', 1989): array([798, 862]),
 ('Chemistry', 1990): array([203]),
 ('Chemistry', 1991): array([722]),
 ('Chemistry', 1992): array([773]),
 ('Chemistry', 1993): array([505, 599]),
 ('Chemistry', 1994): array([284]),
 ('Chemistry', 1995): array([239, 567, 666]),
 ('Chemistry', 1996): array([713, 738, 814]),
 ('Chemistry', 1997): array([444, 465, 661]),
 ('Chemistry', 1998): array([475, 892]),
 ('Chemistry', 1999): array([13]),
 ('Chemistry', 2000): array([ 17,  19, 374]),
 ('Chemistry', 2001): array([ 86, 776, 921]),
 ('Chemistry', 2002): array([455, 518, 523]),
 ('Chemistry', 2003): array([679, 756]),
 ('Chemistry', 2004): array([  2,  80, 396]),
 ('Chemistry', 2005): array([723, 742, 941]),
 ('Chemistry', 2006): array([759]),
 ('Chemistry', 2007): array([310]),
 ('Chemistry', 2008): array([571, 641, 763]),
 ('Chemistry', 2009): array([  7, 855, 880]),
 ('Chemistry', 2010): array([ 14, 199, 715]),
 ('Chemistry', 2011): array([153]),
 ('Chemistry', 2012): array([104, 746]),
 ('Chemistry', 2013): array([ 64, 572, 596]),
 ('Chemistry', 2014): array([215, 832, 914]),
 ('Chemistry', 2015): array([ 81, 671, 866]),
 ('Chemistry', 2016): array([ 92, 442, 817]),
 ('Chemistry', 2017): array([416, 448, 717]),
 ('Chemistry', 2018): array([247, 296, 813]),
 ('Chemistry', 2019): array([ 15, 456, 559]),
 ('Economic Sciences', 1969): array([432, 700]),
 ('Economic Sciences', 1970): array([657]),
 ('Economic Sciences', 1971): array([800]),
 ('Economic Sciences', 1972): array([476, 510]),
 ('Economic Sciences', 1973): array([896]),
 ('Economic Sciences', 1974): array([269, 324]),
 ('Economic Sciences', 1975): array([538, 864]),
 ('Economic Sciences', 1976): array([605]),
 ('Economic Sciences', 1977): array([ 96, 422]),
 ('Economic Sciences', 1978): array([369]),
 ('Economic Sciences', 1979): array([805, 854]),
 ('Economic Sciences', 1980): array([527]),
 ('Economic Sciences', 1981): array([430]),
 ('Economic Sciences', 1982): array([295]),
 ('Economic Sciences', 1983): array([305]),
 ('Economic Sciences', 1984): array([724]),
 ('Economic Sciences', 1985): array([250]),
 ('Economic Sciences', 1986): array([426]),
 ('Economic Sciences', 1987): array([749]),
 ('Economic Sciences', 1988): array([580]),
 ('Economic Sciences', 1989): array([871]),
 ('Economic Sciences', 1990): array([346, 594, 916]),
 ('Economic Sciences', 1991): array([767]),
 ('Economic Sciences', 1992): array([279]),
 ('Economic Sciences', 1993): array([180, 753]),
 ('Economic Sciences', 1994): array([458, 467, 708]),
 ('Economic Sciences', 1995): array([737]),
 ('Economic Sciences', 1996): array([418, 924]),
 ('Economic Sciences', 1997): array([611, 734]),
 ('Economic Sciences', 1998): array([46]),
 ('Economic Sciences', 1999): array([750]),
 ('Economic Sciences', 2000): array([157, 425]),
 ('Economic Sciences', 2001): array([  0, 283, 485]),
 ('Economic Sciences', 2002): array([156, 882]),
 ('Economic Sciences', 2003): array([145, 739]),
 ('Economic Sciences', 2004): array([193, 246]),
 ('Economic Sciences', 2005): array([745, 856]),
 ('Economic Sciences', 2006): array([187]),
 ('Economic Sciences', 2007): array([219, 537, 758]),
 ('Economic Sciences', 2008): array([669]),
 ('Economic Sciences', 2009): array([207, 636]),
 ('Economic Sciences', 2010): array([139, 152, 678]),
 ('Economic Sciences', 2011): array([140, 860]),
 ('Economic Sciences', 2012): array([ 45, 546]),
 ('Economic Sciences', 2013): array([232, 525, 747]),
 ('Economic Sciences', 2014): array([438]),
 ('Economic Sciences', 2015): array([58]),
 ('Economic Sciences', 2016): array([ 90, 637]),
 ('Economic Sciences', 2017): array([716]),
 ('Economic Sciences', 2018): array([670, 912]),
 ('Economic Sciences', 2019): array([  5, 231, 595]),
 ('Literature', 1901): array([836]),
 ('Literature', 1902): array([850]),
 ('Literature', 1903): array([100]),
 ('Literature', 1904): array([259, 480]),
 ('Literature', 1905): array([364]),
 ('Literature', 1906): array([316]),
 ('Literature', 1907): array([774]),
 ('Literature', 1908): array([771]),
 ('Literature', 1909): array([788]),
 ('Literature', 1910): array([665]),
 ('Literature', 1911): array([581]),
 ('Literature', 1912): array([312]),
 ('Literature', 1913): array([699]),
 ('Literature', 1915): array([765]),
 ('Literature', 1916): array([881]),
 ('Literature', 1917): array([359, 501]),
 ('Literature', 1919): array([115]),
 ('Literature', 1920): array([516]),
 ('Literature', 1921): array([49]),
 ('Literature', 1922): array([411]),
 ('Literature', 1923): array([910]),
 ('Literature', 1924): array([929]),
 ('Literature', 1925): array([286]),
 ('Literature', 1926): array([321]),
 ('Literature', 1927): array([355]),
 ('Literature', 1928): array([799]),
 ('Literature', 1929): array([861]),
 ('Literature', 1930): array([803]),
 ('Literature', 1931): array([220]),
 ('Literature', 1932): array([468]),
 ('Literature', 1933): array([400]),
 ('Literature', 1934): array([556]),
 ('Literature', 1936): array([233]),
 ('Literature', 1937): array([761]),
 ('Literature', 1938): array([675]),
 ('Literature', 1939): array([257]),
 ('Literature', 1944): array([454]),
 ('Literature', 1945): array([277]),
 ('Literature', 1946): array([370]),
 ('Literature', 1947): array([52]),
 ('Literature', 1948): array([842]),
 ('Literature', 1949): array([917]),
 ('Literature', 1950): array([98]),
 ('Literature', 1951): array([653]),
 ('Literature', 1952): array([253]),
 ('Literature', 1953): array([927]),
 ('Literature', 1954): array([221]),
 ('Literature', 1955): array([333]),
 ('Literature', 1956): array([492]),
 ('Literature', 1957): array([21]),
 ('Literature', 1958): array([102]),
 ('Literature', 1959): array([779]),
 ('Literature', 1960): array([777]),
 ('Literature', 1961): array([403]),
 ('Literature', 1962): array([479]),
 ('Literature', 1963): array([315]),
 ('Literature', 1964): array([441]),
 ('Literature', 1965): array([604]),
 ('Literature', 1966): array([618, 796]),
 ('Literature', 1967): array([602]),
 ('Literature', 1968): array([936]),
 ('Literature', 1969): array([780]),
 ('Literature', 1970): array([31]),
 ('Literature', 1971): array([652]),
 ('Literature', 1972): array([350]),
 ('Literature', 1973): array([656]),
 ('Literature', 1974): array([237, 347]),
 ('Literature', 1975): array([235]),
 ('Literature', 1976): array([784]),
 ('Literature', 1977): array([883]),
 ('Literature', 1978): array([397]),
 ('Literature', 1979): array([633]),
 ('Literature', 1980): array([149]),
 ('Literature', 1981): array([202]),
 ('Literature', 1982): array([275]),
 ('Literature', 1983): array([919]),
 ('Literature', 1984): array([435]),
 ('Literature', 1985): array([142]),
 ('Literature', 1986): array([930]),
 ('Literature', 1987): array([483]),
 ('Literature', 1988): array([614]),
 ('Literature', 1989): array([111]),
 ('Literature', 1990): array([631]),
 ('Literature', 1991): array([613]),
 ('Literature', 1992): array([170]),
 ('Literature', 1993): array([868]),
 ('Literature', 1994): array([511]),
 ('Literature', 1995): array([786]),
 ('Literature', 1996): array([928]),
 ('Literature', 1997): array([159]),
 ('Literature', 1998): array([482]),
 ('Literature', 1999): array([326]),
 ('Literature', 2000): array([278]),
 ('Literature', 2001): array([878]),
 ('Literature', 2002): array([385]),
 ('Literature', 2003): array([406]),
 ('Literature', 2004): array([201]),
 ('Literature', 2005): array([345]),
 ('Literature', 2006): array([640]),
 ('Literature', 2007): array([177]),
 ('Literature', 2008): array([439]),
 ('Literature', 2009): array([373]),
 ('Literature', 2010): array([569]),
 ('Literature', 2011): array([867]),
 ('Literature', 2012): array([606]),
 ('Literature', 2013): array([40]),
 ('Literature', 2014): array([655]),
 ('Literature', 2015): array([840]),
 ('Literature', 2016): array([101]),
 ('Literature', 2017): array([506]),
 ('Literature', 2018): array([635]),
 ('Literature', 2019): array([683]),
 ('Peace', 1901): array([260, 360]),
 ('Peace', 1902): array([ 25, 204]),
 ('Peace', 1903): array([705]),
 ('Peace', 1904): array([386]),
 ('Peace', 1905): array([95]),
 ('Peace', 1906): array([852]),
 ('Peace', 1907): array([225, 553]),
 ('Peace', 1908): array([266, 514]),
 ('Peace', 1909): array([ 78, 664]),
 ('Peace', 1910): array([677]),
 ('Peace', 1911): array([ 36, 865]),
 ('Peace', 1912): array([206]),
 ('Peace', 1913): array([356]),
 ('Peace', 1917): array([391]),
 ('Peace', 1919): array([934]),
 ('Peace', 1920): array([533]),
 ('Peace', 1921): array([137, 377]),
 ('Peace', 1922): array([267]),
 ('Peace', 1925): array([126, 806]),
 ('Peace', 1926): array([ 65, 329]),
 ('Peace', 1927): array([244, 555]),
 ('Peace', 1929): array([255]),
 ('Peace', 1930): array([616]),
 ('Peace', 1931): array([433, 620]),
 ('Peace', 1933): array([823]),
 ('Peace', 1934): array([72]),
 ('Peace', 1935): array([116]),
 ('Peace', 1936): array([120]),
 ('Peace', 1937): array([736]),
 ('Peace', 1938): array([615]),
 ('Peace', 1944): array([944]),
 ('Peace', 1945): array([146]),
 ('Peace', 1946): array([213, 477]),
 ('Peace', 1947): array([ 47, 270]),
 ('Peace', 1949): array([547]),
 ('Peace', 1950): array([703]),
 ('Peace', 1951): array([534]),
 ('Peace', 1952): array([27]),
 ('Peace', 1953): array([287]),
 ('Peace', 1954): array([634]),
 ('Peace', 1957): array([540]),
 ('Peace', 1958): array([303]),
 ('Peace', 1959): array([688]),
 ('Peace', 1960): array([26]),
 ('Peace', 1961): array([151]),
 ('Peace', 1962): array([544]),
 ('Peace', 1963): array([529, 949]),
 ('Peace', 1964): array([574]),
 ('Peace', 1965): array([876]),
 ('Peace', 1968): array([710]),
 ('Peace', 1969): array([392]),
 ('Peace', 1970): array([628]),
 ('Peace', 1971): array([926]),
 ('Peace', 1973): array([361, 528]),
 ('Peace', 1974): array([200, 787]),
 ('Peace', 1975): array([54]),
 ('Peace', 1976): array([ 99, 560]),
 ('Peace', 1977): array([48]),
 ('Peace', 1978): array([ 61, 593]),
 ('Peace', 1979): array([608]),
 ('Peace', 1980): array([12]),
 ('Peace', 1981): array([948]),
 ('Peace', 1982): array([34, 44]),
 ('Peace', 1983): array([530]),
 ('Peace', 1984): array([171]),
 ('Peace', 1985): array([393]),
 ('Peace', 1986): array([205]),
 ('Peace', 1987): array([642]),
 ('Peace', 1988): array([877]),
 ('Peace', 1989): array([847]),
 ('Peace', 1990): array([603]),
 ('Peace', 1991): array([79]),
 ('Peace', 1992): array([727]),
 ('Peace', 1993): array([240, 619]),
 ('Peace', 1994): array([793, 935, 937]),
 ('Peace', 1995): array([489, 697]),
 ('Peace', 1996): array([119, 481]),
 ('Peace', 1997): array([390, 449]),
 ('Peace', 1998): array([166, 471]),
 ('Peace', 1999): array([590]),
 ('Peace', 2000): array([512]),
 ('Peace', 2001): array([517, 875]),
 ('Peace', 2002): array([447]),
 ('Peace', 2003): array([795]),
 ('Peace', 2004): array([895]),
 ('Peace', 2005): array([388, 607]),
 ('Peace', 2006): array([320, 609]),
 ('Peace', 2007): array([ 16, 387]),
 ('Peace', 2008): array([578]),
 ('Peace', 2009): array([82]),
 ('Peace', 2010): array([545]),
 ('Peace', 2011): array([209, 542, 846]),
 ('Peace', 2012): array([236]),
 ('Peace', 2013): array([639]),
 ('Peace', 2014): array([500, 562]),
 ('Peace', 2015): array([617]),
 ('Peace', 2016): array([491]),
 ('Peace', 2017): array([389]),
 ('Peace', 2018): array([167, 612]),
 ('Peace', 2019): array([6]),
 ('Physics', 1901): array([901]),
 ('Physics', 1902): array([353, 695]),
 ('Physics', 1903): array([354, 566, 693]),
 ('Physics', 1904): array([548]),
 ('Physics', 1905): array([691]),
 ('Physics', 1906): array([410]),
 ('Physics', 1907): array([20]),
 ('Physics', 1908): array([276]),
 ('Physics', 1909): array([243, 323]),
 ('Physics', 1910): array([451]),
 ('Physics', 1911): array([903]),
 ('Physics', 1912): array([327]),
 ('Physics', 1913): array([349]),
 ('Physics', 1914): array([588]),
 ('Physics', 1915): array([526, 909]),
 ('Physics', 1917): array([127]),
 ('Physics', 1918): array([586]),
 ('Physics', 1919): array([453]),
 ('Physics', 1920): array([125]),
 ('Physics', 1921): array([23]),
 ('Physics', 1922): array([623]),
 ('Physics', 1923): array([730]),
 ('Physics', 1924): array([564]),
 ('Physics', 1925): array([328, 424]),
 ('Physics', 1926): array([436]),
 ('Physics', 1927): array([ 70, 109]),
 ('Physics', 1928): array([651]),
 ('Physics', 1929): array([550]),
 ('Physics', 1930): array([808]),
 ('Physics', 1932): array([900]),
 ('Physics', 1933): array([230, 658]),
 ('Physics', 1935): array([420]),
 ('Physics', 1936): array([114, 884]),
 ('Physics', 1937): array([144, 297]),
 ('Physics', 1938): array([214]),
 ('Physics', 1939): array([222]),
 ('Physics', 1943): array([647]),
 ('Physics', 1944): array([399]),
 ('Physics', 1945): array([933]),
 ('Physics', 1946): array([676]),
 ('Physics', 1947): array([195]),
 ('Physics', 1948): array([654]),
 ('Physics', 1949): array([375]),
 ('Physics', 1950): array([122]),
 ('Physics', 1951): array([224, 462]),
 ('Physics', 1952): array([183, 241]),
 ('Physics', 1953): array([271]),
 ('Physics', 1954): array([583, 893]),
 ('Physics', 1955): array([696, 925]),
 ('Physics', 1956): array([457, 890, 908]),
 ('Physics', 1957): array([133, 872]),
 ('Physics', 1958): array([381, 382, 674]),
 ('Physics', 1959): array([212, 650]),
 ('Physics', 1960): array([174]),
 ('Physics', 1961): array([743, 772]),
 ('Physics', 1962): array([541]),
 ('Physics', 1963): array([234, 405, 565]),
 ('Physics', 1964): array([ 30, 128, 622]),
 ('Physics', 1965): array([495, 721, 802]),
 ('Physics', 1966): array([38]),
 ('Physics', 1967): array([336]),
 ('Physics', 1968): array([557]),
 ('Physics', 1969): array([610]),
 ('Physics', 1970): array([335, 552]),
 ('Physics', 1971): array([168]),
 ('Physics', 1972): array([536, 752, 945]),
 ('Physics', 1973): array([103, 402, 532]),
 ('Physics', 1974): array([ 60, 576]),
 ('Physics', 1975): array([  1,  89, 429]),
 ('Physics', 1976): array([108, 781]),
 ('Physics', 1977): array([470, 690, 822]),
 ('Physics', 1978): array([ 67, 698, 755]),
 ('Physics', 1979): array([  4, 792, 834]),
 ('Physics', 1980): array([421, 879]),
 ('Physics', 1981): array([ 74, 499, 621]),
 ('Physics', 1982): array([509]),
 ('Physics', 1983): array([835, 907]),
 ('Physics', 1984): array([118, 801]),
 ('Physics', 1985): array([515]),
 ('Physics', 1986): array([228, 308, 351]),
 ('Physics', 1987): array([404, 498]),
 ('Physics', 1988): array([413, 535, 592]),
 ('Physics', 1989): array([338, 629, 932]),
 ('Physics', 1990): array([363, 445, 714]),
 ('Physics', 1991): array([694]),
 ('Physics', 1992): array([301]),
 ('Physics', 1993): array([487, 775]),
 ('Physics', 1994): array([ 97, 143]),
 ('Physics', 1995): array([263, 573]),
 ('Physics', 1996): array([165, 179, 735]),
 ('Physics', 1997): array([141, 833, 913]),
 ('Physics', 1998): array([155, 378, 731]),
 ('Physics', 1999): array([307, 577]),
 ('Physics', 2000): array([367, 412, 942]),
 ('Physics', 2001): array([117, 216, 931]),
 ('Physics', 2002): array([579, 707, 711]),
 ('Physics', 2003): array([ 32,  59, 887]),
 ('Physics', 2004): array([162, 256, 330]),
 ('Physics', 2005): array([472, 770, 851]),
 ('Physics', 2006): array([292, 460]),
 ('Physics', 2007): array([ 24, 682]),
 ('Physics', 2008): array([561, 870, 938]),
 ('Physics', 2009): array([130, 291, 905]),
 ('Physics', 2010): array([ 51, 521]),
 ('Physics', 2011): array([  8, 105, 785]),
 ('Physics', 2012): array([164, 790]),
 ('Physics', 2013): array([251, 684]),
 ('Physics', 2014): array([376, 398, 797]),
 ('Physics', 2015): array([ 69, 844]),
 ('Physics', 2016): array([163, 238, 408]),
 ('Physics', 2017): array([ 84, 513, 702]),
 ('Physics', 2018): array([ 68, 176, 306]),
 ('Physics', 2019): array([173, 428, 601]),
 ('Physiology or Medicine', 1901): array([211]),
 ('Physiology or Medicine', 1902): array([768]),
 ('Physiology or Medicine', 1903): array([625]),
 ('Physiology or Medicine', 1904): array([401]),
 ('Physiology or Medicine', 1905): array([748]),
 ('Physiology or Medicine', 1906): array([110, 782]),
 ('Physiology or Medicine', 1907): array([43]),
 ('Physiology or Medicine', 1908): array([383, 662]),
 ('Physiology or Medicine', 1909): array([849]),
 ('Physiology or Medicine', 1910): array([29]),
 ('Physiology or Medicine', 1911): array([42]),
 ('Physiology or Medicine', 1912): array([33]),
 ('Physiology or Medicine', 1913): array([132]),
 ('Physiology or Medicine', 1914): array([733]),
 ('Physiology or Medicine', 1919): array([494]),
 ('Physiology or Medicine', 1920): array([77]),
 ('Physiology or Medicine', 1922): array([ 63, 646]),
 ('Physiology or Medicine', 1923): array([262, 473]),
 ('Physiology or Medicine', 1924): array([906]),
 ('Physiology or Medicine', 1926): array([452]),
 ('Physiology or Medicine', 1927): array([497]),
 ('Physiology or Medicine', 1928): array([131]),
 ('Physiology or Medicine', 1929): array([134, 812]),
 ('Physiology or Medicine', 1930): array([502]),
 ('Physiology or Medicine', 1931): array([649]),
 ('Physiology or Medicine', 1932): array([185, 809]),
 ('Physiology or Medicine', 1933): array([858]),

In [29]:
# finding the number of groups in a group by object

print(grouped.ngroups)
print(grouped_category_year.ngroups)

print(len(grouped))
print(len(grouped_category_year))

6
597
6
597

In [35]:
# If we need to visualize all or some entries of each group, we can iterate over the GroupBy object :

# grouped data has category as key and it has entries as values

for key,values in grouped:
    print(key)

for key,values in grouped_category_year:
    print('\n',key)

Chemistry
Economic Sciences
Literature
Peace
Physics
Physiology or Medicine

 ('Chemistry', 1901)

 ('Chemistry', 1902)

 ('Chemistry', 1903)

 ('Chemistry', 1904)

 ('Chemistry', 1905)

 ('Chemistry', 1906)

 ('Chemistry', 1907)

 ('Chemistry', 1908)

 ('Chemistry', 1909)

 ('Chemistry', 1910)

 ('Chemistry', 1911)

 ('Chemistry', 1912)

 ('Chemistry', 1913)

 ('Chemistry', 1914)

 ('Chemistry', 1915)

 ('Chemistry', 1918)

 ('Chemistry', 1920)

 ('Chemistry', 1921)

 ('Chemistry', 1922)

 ('Chemistry', 1923)

 ('Chemistry', 1925)

 ('Chemistry', 1926)

 ('Chemistry', 1927)

 ('Chemistry', 1928)

 ('Chemistry', 1929)

 ('Chemistry', 1930)

 ('Chemistry', 1931)

 ('Chemistry', 1932)

 ('Chemistry', 1934)

 ('Chemistry', 1935)

 ('Chemistry', 1936)

 ('Chemistry', 1937)

 ('Chemistry', 1938)

 ('Chemistry', 1939)

 ('Chemistry', 1943)

 ('Chemistry', 1944)

 ('Chemistry', 1945)

 ('Chemistry', 1946)

 ('Chemistry', 1947)

 ('Chemistry', 1948)

 ('Chemistry', 1949)

 ('Chemistry', 1950)

 ('Chemistry', 1951)

 ('Chemistry', 1952)

 ('Chemistry', 1953)

 ('Chemistry', 1954)

 ('Chemistry', 1955)

 ('Chemistry', 1956)

 ('Chemistry', 1957)

 ('Chemistry', 1958)

 ('Chemistry', 1959)

 ('Chemistry', 1960)

 ('Chemistry', 1961)

 ('Chemistry', 1962)

 ('Chemistry', 1963)

 ('Chemistry', 1964)

 ('Chemistry', 1965)

 ('Chemistry', 1966)

 ('Chemistry', 1967)

 ('Chemistry', 1968)

 ('Chemistry', 1969)

 ('Chemistry', 1970)

 ('Chemistry', 1971)

 ('Chemistry', 1972)

 ('Chemistry', 1973)

 ('Chemistry', 1974)

 ('Chemistry', 1975)

 ('Chemistry', 1976)

 ('Chemistry', 1977)

 ('Chemistry', 1978)

 ('Chemistry', 1979)

 ('Chemistry', 1980)

 ('Chemistry', 1981)

 ('Chemistry', 1982)

 ('Chemistry', 1983)

 ('Chemistry', 1984)

 ('Chemistry', 1985)

 ('Chemistry', 1986)

 ('Chemistry', 1987)

 ('Chemistry', 1988)

 ('Chemistry', 1989)

 ('Chemistry', 1990)

 ('Chemistry', 1991)

 ('Chemistry', 1992)

 ('Chemistry', 1993)

 ('Chemistry', 1994)

 ('Chemistry', 1995)

 ('Chemistry', 1996)

 ('Chemistry', 1997)

 ('Chemistry', 1998)

 ('Chemistry', 1999)

 ('Chemistry', 2000)

 ('Chemistry', 2001)

 ('Chemistry', 2002)

 ('Chemistry', 2003)

 ('Chemistry', 2004)

 ('Chemistry', 2005)

 ('Chemistry', 2006)

 ('Chemistry', 2007)

 ('Chemistry', 2008)

 ('Chemistry', 2009)

 ('Chemistry', 2010)

 ('Chemistry', 2011)

 ('Chemistry', 2012)

 ('Chemistry', 2013)

 ('Chemistry', 2014)

 ('Chemistry', 2015)

 ('Chemistry', 2016)

 ('Chemistry', 2017)

 ('Chemistry', 2018)

 ('Chemistry', 2019)

 ('Economic Sciences', 1969)

 ('Economic Sciences', 1970)

 ('Economic Sciences', 1971)

 ('Economic Sciences', 1972)

 ('Economic Sciences', 1973)

 ('Economic Sciences', 1974)

 ('Economic Sciences', 1975)

 ('Economic Sciences', 1976)

 ('Economic Sciences', 1977)

 ('Economic Sciences', 1978)

 ('Economic Sciences', 1979)

 ('Economic Sciences', 1980)

 ('Economic Sciences', 1981)

 ('Economic Sciences', 1982)

 ('Economic Sciences', 1983)

 ('Economic Sciences', 1984)

 ('Economic Sciences', 1985)

 ('Economic Sciences', 1986)

 ('Economic Sciences', 1987)

 ('Economic Sciences', 1988)

 ('Economic Sciences', 1989)

 ('Economic Sciences', 1990)

 ('Economic Sciences', 1991)

 ('Economic Sciences', 1992)

 ('Economic Sciences', 1993)

 ('Economic Sciences', 1994)

 ('Economic Sciences', 1995)

 ('Economic Sciences', 1996)

 ('Economic Sciences', 1997)

 ('Economic Sciences', 1998)

 ('Economic Sciences', 1999)

 ('Economic Sciences', 2000)

 ('Economic Sciences', 2001)

 ('Economic Sciences', 2002)

 ('Economic Sciences', 2003)

 ('Economic Sciences', 2004)

 ('Economic Sciences', 2005)

 ('Economic Sciences', 2006)

 ('Economic Sciences', 2007)

 ('Economic Sciences', 2008)

 ('Economic Sciences', 2009)

 ('Economic Sciences', 2010)

 ('Economic Sciences', 2011)

 ('Economic Sciences', 2012)

 ('Economic Sciences', 2013)

 ('Economic Sciences', 2014)

 ('Economic Sciences', 2015)

 ('Economic Sciences', 2016)

 ('Economic Sciences', 2017)

 ('Economic Sciences', 2018)

 ('Economic Sciences', 2019)

 ('Literature', 1901)

 ('Literature', 1902)

 ('Literature', 1903)

 ('Literature', 1904)

 ('Literature', 1905)

 ('Literature', 1906)

 ('Literature', 1907)

 ('Literature', 1908)

 ('Literature', 1909)

 ('Literature', 1910)

 ('Literature', 1911)

 ('Literature', 1912)

 ('Literature', 1913)

 ('Literature', 1915)

 ('Literature', 1916)

 ('Literature', 1917)

 ('Literature', 1919)

 ('Literature', 1920)

 ('Literature', 1921)

 ('Literature', 1922)

 ('Literature', 1923)

 ('Literature', 1924)

 ('Literature', 1925)

 ('Literature', 1926)

 ('Literature', 1927)

 ('Literature', 1928)

 ('Literature', 1929)

 ('Literature', 1930)

 ('Literature', 1931)

 ('Literature', 1932)

 ('Literature', 1933)

 ('Literature', 1934)

 ('Literature', 1936)

 ('Literature', 1937)

 ('Literature', 1938)

 ('Literature', 1939)

 ('Literature', 1944)

 ('Literature', 1945)

 ('Literature', 1946)

 ('Literature', 1947)

 ('Literature', 1948)

 ('Literature', 1949)

 ('Literature', 1950)

 ('Literature', 1951)

 ('Literature', 1952)

 ('Literature', 1953)

 ('Literature', 1954)

 ('Literature', 1955)

 ('Literature', 1956)

 ('Literature', 1957)

 ('Literature', 1958)

 ('Literature', 1959)

 ('Literature', 1960)

 ('Literature', 1961)

 ('Literature', 1962)

 ('Literature', 1963)

 ('Literature', 1964)

 ('Literature', 1965)

 ('Literature', 1966)

 ('Literature', 1967)

 ('Literature', 1968)

 ('Literature', 1969)

 ('Literature', 1970)

 ('Literature', 1971)

 ('Literature', 1972)

 ('Literature', 1973)

 ('Literature', 1974)

 ('Literature', 1975)

 ('Literature', 1976)

 ('Literature', 1977)

 ('Literature', 1978)

 ('Literature', 1979)

 ('Literature', 1980)

 ('Literature', 1981)

 ('Literature', 1982)

 ('Literature', 1983)

 ('Literature', 1984)

 ('Literature', 1985)

 ('Literature', 1986)

 ('Literature', 1987)

 ('Literature', 1988)

 ('Literature', 1989)

 ('Literature', 1990)

 ('Literature', 1991)

 ('Literature', 1992)

 ('Literature', 1993)

 ('Literature', 1994)

 ('Literature', 1995)

 ('Literature', 1996)

 ('Literature', 1997)

 ('Literature', 1998)

 ('Literature', 1999)

 ('Literature', 2000)

 ('Literature', 2001)

 ('Literature', 2002)

 ('Literature', 2003)

 ('Literature', 2004)

 ('Literature', 2005)

 ('Literature', 2006)

 ('Literature', 2007)

 ('Literature', 2008)

 ('Literature', 2009)

 ('Literature', 2010)

 ('Literature', 2011)

 ('Literature', 2012)

 ('Literature', 2013)

 ('Literature', 2014)

 ('Literature', 2015)

 ('Literature', 2016)

 ('Literature', 2017)

 ('Literature', 2018)

 ('Literature', 2019)

 ('Peace', 1901)

 ('Peace', 1902)

 ('Peace', 1903)

 ('Peace', 1904)

 ('Peace', 1905)

 ('Peace', 1906)

 ('Peace', 1907)

 ('Peace', 1908)

 ('Peace', 1909)

 ('Peace', 1910)

 ('Peace', 1911)

 ('Peace', 1912)

 ('Peace', 1913)

 ('Peace', 1917)

 ('Peace', 1919)

 ('Peace', 1920)

 ('Peace', 1921)

 ('Peace', 1922)

 ('Peace', 1925)

 ('Peace', 1926)

 ('Peace', 1927)

 ('Peace', 1929)

 ('Peace', 1930)

 ('Peace', 1931)

 ('Peace', 1933)

 ('Peace', 1934)

 ('Peace', 1935)

 ('Peace', 1936)

 ('Peace', 1937)

 ('Peace', 1938)

 ('Peace', 1944)

 ('Peace', 1945)

 ('Peace', 1946)

 ('Peace', 1947)

 ('Peace', 1949)

 ('Peace', 1950)

 ('Peace', 1951)

 ('Peace', 1952)

 ('Peace', 1953)

 ('Peace', 1954)

 ('Peace', 1957)

 ('Peace', 1958)

 ('Peace', 1959)

 ('Peace', 1960)

 ('Peace', 1961)

 ('Peace', 1962)

 ('Peace', 1963)

 ('Peace', 1964)

 ('Peace', 1965)

 ('Peace', 1968)

 ('Peace', 1969)

 ('Peace', 1970)

 ('Peace', 1971)

 ('Peace', 1973)

 ('Peace', 1974)

 ('Peace', 1975)

 ('Peace', 1976)

 ('Peace', 1977)

 ('Peace', 1978)

 ('Peace', 1979)

 ('Peace', 1980)

 ('Peace', 1981)

 ('Peace', 1982)

 ('Peace', 1983)

 ('Peace', 1984)

 ('Peace', 1985)

 ('Peace', 1986)

 ('Peace', 1987)

 ('Peace', 1988)

 ('Peace', 1989)

 ('Peace', 1990)

 ('Peace', 1991)

 ('Peace', 1992)

 ('Peace', 1993)

 ('Peace', 1994)

 ('Peace', 1995)

 ('Peace', 1996)

 ('Peace', 1997)

 ('Peace', 1998)

 ('Peace', 1999)

 ('Peace', 2000)

 ('Peace', 2001)

 ('Peace', 2002)

 ('Peace', 2003)

 ('Peace', 2004)

 ('Peace', 2005)

 ('Peace', 2006)

 ('Peace', 2007)

 ('Peace', 2008)

 ('Peace', 2009)

 ('Peace', 2010)

 ('Peace', 2011)

 ('Peace', 2012)

 ('Peace', 2013)

 ('Peace', 2014)

 ('Peace', 2015)

 ('Peace', 2016)

 ('Peace', 2017)

 ('Peace', 2018)

 ('Peace', 2019)

 ('Physics', 1901)

 ('Physics', 1902)

 ('Physics', 1903)

 ('Physics', 1904)

 ('Physics', 1905)

 ('Physics', 1906)

 ('Physics', 1907)

 ('Physics', 1908)

 ('Physics', 1909)

 ('Physics', 1910)

 ('Physics', 1911)

 ('Physics', 1912)

 ('Physics', 1913)

 ('Physics', 1914)

 ('Physics', 1915)

 ('Physics', 1917)

 ('Physics', 1918)

 ('Physics', 1919)

 ('Physics', 1920)

 ('Physics', 1921)

 ('Physics', 1922)

 ('Physics', 1923)

 ('Physics', 1924)

 ('Physics', 1925)

 ('Physics', 1926)

 ('Physics', 1927)

 ('Physics', 1928)

 ('Physics', 1929)

 ('Physics', 1930)

 ('Physics', 1932)

 ('Physics', 1933)

 ('Physics', 1935)

 ('Physics', 1936)

 ('Physics', 1937)

 ('Physics', 1938)

 ('Physics', 1939)

 ('Physics', 1943)

 ('Physics', 1944)

 ('Physics', 1945)

 ('Physics', 1946)

 ('Physics', 1947)

 ('Physics', 1948)

 ('Physics', 1949)

 ('Physics', 1950)

 ('Physics', 1951)

 ('Physics', 1952)

 ('Physics', 1953)

 ('Physics', 1954)

 ('Physics', 1955)

 ('Physics', 1956)

 ('Physics', 1957)

 ('Physics', 1958)

 ('Physics', 1959)

 ('Physics', 1960)

 ('Physics', 1961)

 ('Physics', 1962)

 ('Physics', 1963)

 ('Physics', 1964)

 ('Physics', 1965)

 ('Physics', 1966)

 ('Physics', 1967)

 ('Physics', 1968)

 ('Physics', 1969)

 ('Physics', 1970)

 ('Physics', 1971)

 ('Physics', 1972)

 ('Physics', 1973)

 ('Physics', 1974)

 ('Physics', 1975)

 ('Physics', 1976)

 ('Physics', 1977)

 ('Physics', 1978)

 ('Physics', 1979)

 ('Physics', 1980)

 ('Physics', 1981)

 ('Physics', 1982)

 ('Physics', 1983)

 ('Physics', 1984)

 ('Physics', 1985)

 ('Physics', 1986)

 ('Physics', 1987)

 ('Physics', 1988)

 ('Physics', 1989)

 ('Physics', 1990)

 ('Physics', 1991)

 ('Physics', 1992)

 ('Physics', 1993)

 ('Physics', 1994)

 ('Physics', 1995)

 ('Physics', 1996)

 ('Physics', 1997)

 ('Physics', 1998)

 ('Physics', 1999)

 ('Physics', 2000)

 ('Physics', 2001)

 ('Physics', 2002)

 ('Physics', 2003)

 ('Physics', 2004)

 ('Physics', 2005)

 ('Physics', 2006)

 ('Physics', 2007)

 ('Physics', 2008)

 ('Physics', 2009)

 ('Physics', 2010)

 ('Physics', 2011)

 ('Physics', 2012)

 ('Physics', 2013)

 ('Physics', 2014)

 ('Physics', 2015)

 ('Physics', 2016)

 ('Physics', 2017)

 ('Physics', 2018)

 ('Physics', 2019)

 ('Physiology or Medicine', 1901)

 ('Physiology or Medicine', 1902)

 ('Physiology or Medicine', 1903)

 ('Physiology or Medicine', 1904)

 ('Physiology or Medicine', 1905)

 ('Physiology or Medicine', 1906)

 ('Physiology or Medicine', 1907)

 ('Physiology or Medicine', 1908)

 ('Physiology or Medicine', 1909)

 ('Physiology or Medicine', 1910)

 ('Physiology or Medicine', 1911)

 ('Physiology or Medicine', 1912)

 ('Physiology or Medicine', 1913)

 ('Physiology or Medicine', 1914)

 ('Physiology or Medicine', 1919)

 ('Physiology or Medicine', 1920)

 ('Physiology or Medicine', 1922)

 ('Physiology or Medicine', 1923)

 ('Physiology or Medicine', 1924)

 ('Physiology or Medicine', 1926)

 ('Physiology or Medicine', 1927)

 ('Physiology or Medicine', 1928)

 ('Physiology or Medicine', 1929)

 ('Physiology or Medicine', 1930)

 ('Physiology or Medicine', 1931)

 ('Physiology or Medicine', 1932)

 ('Physiology or Medicine', 1933)

 ('Physiology or Medicine', 1934)

 ('Physiology or Medicine', 1935)

 ('Physiology or Medicine', 1936)

 ('Physiology or Medicine', 1937)

 ('Physiology or Medicine', 1938)

 ('Physiology or Medicine', 1939)

 ('Physiology or Medicine', 1943)

 ('Physiology or Medicine', 1944)

 ('Physiology or Medicine', 1945)

 ('Physiology or Medicine', 1946)

 ('Physiology or Medicine', 1947)

 ('Physiology or Medicine', 1948)

 ('Physiology or Medicine', 1949)

 ('Physiology or Medicine', 1950)

 ('Physiology or Medicine', 1951)

 ('Physiology or Medicine', 1952)

 ('Physiology or Medicine', 1953)

 ('Physiology or Medicine', 1954)

 ('Physiology or Medicine', 1955)

 ('Physiology or Medicine', 1956)

 ('Physiology or Medicine', 1957)

 ('Physiology or Medicine', 1958)

 ('Physiology or Medicine', 1959)

 ('Physiology or Medicine', 1960)

 ('Physiology or Medicine', 1961)

 ('Physiology or Medicine', 1962)

 ('Physiology or Medicine', 1963)

 ('Physiology or Medicine', 1964)

 ('Physiology or Medicine', 1965)

 ('Physiology or Medicine', 1966)

 ('Physiology or Medicine', 1967)

 ('Physiology or Medicine', 1968)

 ('Physiology or Medicine', 1969)

 ('Physiology or Medicine', 1970)

 ('Physiology or Medicine', 1971)

 ('Physiology or Medicine', 1972)

 ('Physiology or Medicine', 1973)

 ('Physiology or Medicine', 1974)

 ('Physiology or Medicine', 1975)

 ('Physiology or Medicine', 1976)

 ('Physiology or Medicine', 1977)

 ('Physiology or Medicine', 1978)

 ('Physiology or Medicine', 1979)

 ('Physiology or Medicine', 1980)

 ('Physiology or Medicine', 1981)

 ('Physiology or Medicine', 1982)

 ('Physiology or Medicine', 1983)

 ('Physiology or Medicine', 1984)

 ('Physiology or Medicine', 1985)

 ('Physiology or Medicine', 1986)

 ('Physiology or Medicine', 1987)

 ('Physiology or Medicine', 1988)

 ('Physiology or Medicine', 1989)

 ('Physiology or Medicine', 1990)

 ('Physiology or Medicine', 1991)

 ('Physiology or Medicine', 1992)

 ('Physiology or Medicine', 1993)

 ('Physiology or Medicine', 1994)

 ('Physiology or Medicine', 1995)

 ('Physiology or Medicine', 1996)

 ('Physiology or Medicine', 1997)

 ('Physiology or Medicine', 1998)

 ('Physiology or Medicine', 1999)

 ('Physiology or Medicine', 2000)

 ('Physiology or Medicine', 2001)

 ('Physiology or Medicine', 2002)

 ('Physiology or Medicine', 2003)

 ('Physiology or Medicine', 2004)

 ('Physiology or Medicine', 2005)

 ('Physiology or Medicine', 2006)

 ('Physiology or Medicine', 2007)

 ('Physiology or Medicine', 2008)

 ('Physiology or Medicine', 2009)

 ('Physiology or Medicine', 2010)

 ('Physiology or Medicine', 2011)

 ('Physiology or Medicine', 2012)

 ('Physiology or Medicine', 2013)

 ('Physiology or Medicine', 2014)

 ('Physiology or Medicine', 2015)

 ('Physiology or Medicine', 2016)

 ('Physiology or Medicine', 2017)

 ('Physiology or Medicine', 2018)

 ('Physiology or Medicine', 2019)

In [42]:
for key,values in grouped:
    print(f'values for the {key} is :')
    print(15*'-')
    print(values.head(3))

values for the Chemistry is :
---------------
   awardYear   category  prizeAmount  prizeAmountAdjusted               name  \
2       2004  Chemistry     10000000             11762861  Aaron Ciechanover
3       1982  Chemistry      1150000              3102518         Aaron Klug
7       2009  Chemistry     10000000             10958504      Ada E. Yonath

   gender birth_continent
2    male            Asia
3    male          Europe
7  female            Asia
values for the Economic Sciences is :
---------------
    awardYear           category  prizeAmount  prizeAmountAdjusted  \
0        2001  Economic Sciences     10000000             12295082
5        2019  Economic Sciences      9000000              9000000
45       2012  Economic Sciences      8000000              8361204

                 name gender birth_continent
0   A. Michael Spence   male   North America
5    Abhijit Banerjee   male            Asia
45      Alvin E. Roth   male   North America
values for the Literature is :
---------------
    awardYear    category  prizeAmount  prizeAmountAdjusted  \
21       1957  Literature       208629              2697789
31       1970  Literature       400000              3177966
40       2013  Literature      8000000              8365867

                     name  gender birth_continent
21           Albert Camus    male          Africa
31  Alexandr Solzhenitsyn    male          Europe
40            Alice Munro  female   North America
values for the Peace is :
---------------
    awardYear category  prizeAmount  prizeAmountAdjusted  \
6        2019    Peace      9000000              9000000
12       1980    Peace       880000              2889667
16       2007    Peace     10000000             11301989

                     name gender birth_continent
6          Abiy Ahmed Ali   male          Africa
12  Adolfo Pérez Esquivel   male   South America
16                Al Gore   male   North America
values for the Physics is :
---------------
   awardYear category  prizeAmount  prizeAmountAdjusted           name gender  \
1       1975  Physics       630000              3404179   Aage N. Bohr   male
4       1979  Physics       800000              2988048    Abdus Salam   male
8       2011  Physics     10000000             10545557  Adam G. Riess   male

  birth_continent
1          Europe
4            Asia
8   North America
values for the Physiology or Medicine is :
---------------
    awardYear                category  prizeAmount  prizeAmountAdjusted  \
18       1963  Physiology or Medicine       265000              2839286
22       1974  Physiology or Medicine       550000              3263449
28       1937  Physiology or Medicine       158463              4716161

                    name gender birth_continent
18          Alan Hodgkin   male          Europe
22         Albert Claude   male          Europe
28  Albert Szent-Györgyi   male          Europe

In [48]:



for key,values in grouped:
    print(key)


# selecting one particular group

grouped.get_group('Economic Sciences').head(3)

Chemistry
Economic Sciences
Literature
Peace
Physics
Physiology or Medicine

,awardYear,category,prizeAmount,prizeAmountAdjusted,name,gender,birth_continent
0,2001,Economic Sciences,10000000,12295082,A. Michael Spence,male,North America
5,2019,Economic Sciences,9000000,9000000,Abhijit Banerjee,male,Asia
45,2012,Economic Sciences,8000000,8361204,Alvin E. Roth,male,North America

In [50]:
grouped.get_group('Chemistry').head(3)

,awardYear,category,prizeAmount,prizeAmountAdjusted,name,gender,birth_continent
2,2004,Chemistry,10000000,11762861,Aaron Ciechanover,male,Asia
3,1982,Chemistry,1150000,3102518,Aaron Klug,male,Europe
7,2009,Chemistry,10000000,10958504,Ada E. Yonath,female,Asia

In [55]:
# performing aggregation

grouped.describe()

                       awardYear                                           \
                           count         mean        std     min      25%
category
Chemistry                  184.0  1972.347826  33.852116  1901.0  1946.75
Economic Sciences           84.0  1996.119048  14.857885  1969.0  1983.75
Literature                 116.0  1960.931034  34.848423  1901.0  1929.75
Peace                      134.0  1964.537313  36.414625  1901.0  1931.00
Physics                    213.0  1971.065728  33.581293  1901.0  1950.00
Physiology or Medicine     219.0  1970.356164  31.527054  1901.0  1949.00

                                                prizeAmount                \
                           50%      75%     max       count          mean
category
Chemistry               1979.0  2001.25  2019.0       184.0  3.629279e+06
Economic Sciences       1997.5  2009.00  2019.0        84.0  6.105845e+06
Literature              1963.5  1990.25  2019.0       116.0  2.493811e+06
Peace                   1972.0  1996.00  2019.0       134.0  3.124879e+06
Physics                 1977.0  2000.00  2019.0       213.0  3.407939e+06
Physiology or Medicine  1973.0  1996.50  2019.0       219.0  3.072973e+06

                        ...                         prizeAmountAdjusted  \
                        ...         75%         max               count
category                ...
Chemistry               ...   8000000.0  10000000.0               184.0
Economic Sciences       ...  10000000.0  10000000.0                84.0
Literature              ...   4500000.0  10000000.0               116.0
Peace                   ...   7400000.0  10000000.0               134.0
Physics                 ...   8000000.0  10000000.0               213.0
Physiology or Medicine  ...   7450000.0  10000000.0               219.0

                                                                           \
                                mean           std        min         25%
category
Chemistry               6.257868e+06  3.276027e+06  2394643.0  3055742.25
Economic Sciences       7.837779e+06  3.313153e+06  2889667.0  3765398.50
Literature              5.598256e+06  3.029512e+06  2377268.0  2973645.50
Peace                   6.163907e+06  3.189886e+06  2377268.0  3102518.00
Physics                 6.086978e+06  3.294268e+06  2377268.0  2988048.00
Physiology or Medicine  5.738301e+06  3.241781e+06  2377268.0  2922108.00


                              50%          75%         max
category
Chemistry               5117217.0   9077252.75  12295082.0
Economic Sciences       9000000.0  10819388.00  12295082.0
Literature              4366629.0   8316089.25  12295082.0
Peace                   5238085.0   9033207.00  12295082.0
Physics                 4907955.0   9044276.00  12295082.0
Physiology or Medicine  4098361.0   8673863.00  12295082.0

[6 rows x 24 columns]

In [58]:
grouped['prizeAmount'].sum()

category
Chemistry                 667787418
Economic Sciences         512891000
Literature                289282102
Peace                     418733807
Physics                   725890928
Physiology or Medicine    672981066
Name: prizeAmount, dtype: int64

In [59]:
grouped[['prizeAmount', 'prizeAmountAdjusted']].sum()

                        prizeAmount  prizeAmountAdjusted
category
Chemistry                 667787418           1151447726
Economic Sciences         512891000            658373449
Literature                289282102            649397731
Peace                     418733807            825963521
Physics                   725890928           1296526352
Physiology or Medicine    672981066           1256687857

In [66]:
grouped.agg({'prizeAmount':[np.sum, np.size], 'prizeAmountAdjusted': np.mean})

/var/folders/j_/x0bf7btx0_l5d3t4jrrlkqjw0000gn/T/ipykernel_3540/4202036903.py:1: FutureWarning: The provided callable <function sum at 0x1065733a0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  grouped.agg({'prizeAmount':[np.sum, np.size], 'prizeAmountAdjusted': np.mean})
/var/folders/j_/x0bf7btx0_l5d3t4jrrlkqjw0000gn/T/ipykernel_3540/4202036903.py:1: FutureWarning: The provided callable <function mean at 0x106596310> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  grouped.agg({'prizeAmount':[np.sum, np.size], 'prizeAmountAdjusted': np.mean})

                       prizeAmount      prizeAmountAdjusted
                               sum size                mean
category
Chemistry                667787418  184        6.257868e+06
Economic Sciences        512891000   84        7.837779e+06
Literature               289282102  116        5.598256e+06
Peace                    418733807  134        6.163907e+06
Physics                  725890928  213        6.086978e+06
Physiology or Medicine   672981066  219        5.738301e+06