#Provided by AI SOCIETY.
##Trainer- Sameer Nigam

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('data/Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [14]:
print(max(sal['OvertimePay']))
sal.groupby('OvertimePay')

245131.88

** What is the highest amount of OvertimePay in the dataset ? **

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [18]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [20]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [31]:
sal.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [50]:
# max_paid
sal_reset_index = sal.reset_index(drop=True)
# highest_paid = sal_reset_index['TotalPay'].idxmax()
highest_paid = sal_reset_index.sort_values(by='TotalPay', ascending=False).index[0]
print("highest paid \n",highest_paid)
person_name = sal_reset_index.loc[highest_paid, 'EmployeeName']
person_name

highest paid
 0

'NATHANIEL FORD'

In [51]:
sal.iloc[0]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [47]:
test = pd.read_csv('data/Salaries.csv')
sal_reset_index = test.reset_index(drop=True)  # Reset the index of the DataFrame
highest_paid_index = sal_reset_index['TotalPay'].idxmax()  # Get the index of the row with the highest total pay
print('\n',highest_paid_index)
highest_paid_person_name = sal_reset_index.loc[highest_paid_index, 'EmployeeName']  # Get the name of the highest paid person
print(highest_paid_person_name)

 0
NATHANIEL FORD

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [25]:
min(sal['TotalPay'])

-618.13

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [56]:
list = sal.groupby('Year').mean('BasePay')
list

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,18080.0,63595.956517,4531.065429,3617.081926,NaN,71744.103871,71744.103871,NaN,NaN
2012,54542.5,65436.406857,5023.417824,3653.437583,26439.966967,74113.262265,100553.229232,NaN,NaN
2013,91728.5,69630.030216,5281.641980,3819.969007,23829.076572,77611.443142,101440.519714,NaN,NaN
2014,129593.0,66564.421924,5401.993737,3505.421251,24789.601756,75463.918140,100250.918884,NaN,NaN

** How many unique job titles are there? **

In [66]:
data = sal.groupby('JobTitle')

print('\n',data['JobTitle'].unique())

 JobTitle
ACCOUNT CLERK                                                                      [ACCOUNT CLERK]
ACCOUNTANT                                                                            [ACCOUNTANT]
ACCOUNTANT INTERN                                                              [ACCOUNTANT INTERN]
ACPO,JuvP, Juv Prob (SFERS)                                          [ACPO,JuvP, Juv Prob (SFERS)]
ACUPUNCTURIST                                                                      [ACUPUNCTURIST]
                                                                        ...
X-RAY LABORATORY AIDE                                                      [X-RAY LABORATORY AIDE]
X-Ray Laboratory Aide                                                      [X-Ray Laboratory Aide]
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    [YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS]
Youth Comm Advisor                                                            [Youth Comm Advisor]
ZOO CURATOR                                                                          [ZOO CURATOR]
Name: JobTitle, Length: 2159, dtype: object

** What are the top 5 most common jobs? **

In [76]:
list = data['JobTitle'].value_counts().sort_values(ascending=False)
list

JobTitle
Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
                                                      ...
BUILDING SERVICES TECHNICIAN                             1
Public Service Aide-Technical                            1
Public Safety Comm Tech                                  1
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE       1
ZOO CURATOR                                              1
Name: count, Length: 2159, dtype: int64

In [78]:
list = data['JobTitle'].value_counts().sort_values(ascending=False).head(5).index
list

Index(['Transit Operator', 'Special Nurse', 'Registered Nurse',
       'Public Svc Aide-Public Works', 'Police Officer 3'],
      dtype='object', name='JobTitle')

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [99]:
sal_2013 = sal[sal['Year']==2013]

In [100]:
sal_2013

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.00,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.00,23236.00,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN
72927,72928,Samson Lai,"Battalion Chief, Fire Suppress",186236.42,131217.63,29648.27,57064.95,347102.32,404167.27,2013,NaN,San Francisco,NaN
72928,72929,Ellen G Moffatt,Asst Med Examiner,272855.51,23727.91,38954.54,66198.92,335537.96,401736.88,2013,NaN,San Francisco,NaN
72929,72930,Robert L Shaw,"Dep Dir for Investments, Ret",315572.01,0.00,0.00,82849.66,315572.01,398421.67,2013,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110526,110527,Arthur L Curry,PS Aide Health Services,NaN,0.00,10.67,0.00,10.67,10.67,2013,NaN,San Francisco,NaN
110527,110528,Nereida Vega,Senior Clerk,NaN,0.00,5.56,0.00,5.56,5.56,2013,NaN,San Francisco,NaN
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.00,0.00,-2.73,0.00,-2.73,2013,NaN,San Francisco,NaN
110529,110530,Mark E Laherty,Police Officer 3,NaN,0.00,0.00,-8.20,0.00,-8.20,2013,NaN,San Francisco,NaN
110530,110531,David P Kucia,Police Officer 3,NaN,0.00,0.00,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN

In [111]:
job_title_count = sal_2013['JobTitle'].value_counts()
job_title_count

JobTitle
Transit Operator                  2295
Special Nurse                     1445
Registered Nurse                  1231
Public Svc Aide-Public Works       859
Custodian                          789
                                  ...
Sr General Utility Mechanic          1
Sprv Adult Prob Ofc (SFERS)          1
Mayoral Staff XII                    1
Pr Investigator, Tax Collector       1
Senior Assessment Clerk              1
Name: count, Length: 1051, dtype: int64

In [114]:
# Accessing respective job count

print(job_title_count['Custodian'])

print(job_title_count['Registered Nurse'])

print(job_title_count['Transit Operator'])

789
1231
2295

In [115]:
newjob_title_count = sal_2013['JobTitle'].value_counts().sort_values(ascending=True)
newjob_title_count

JobTitle
Senior Assessment Clerk            1
Real Estate Devt. Mgr, SFMTA       1
Assistant Director, Probate        1
Chief Fire Alarm Dispatcher        1
Chief Housing Inspector            1
                                ...
Custodian                        789
Public Svc Aide-Public Works     859
Registered Nurse                1231
Special Nurse                   1445
Transit Operator                2295
Name: count, Length: 1051, dtype: int64

In [133]:
sample = sal[(sal['JobTitle'] == 'Transit Operator') & (sal['Year'] == 2013)]
sample = sample.drop('Year', axis=1).reset_index(drop=True)
sample

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Agency,Status
0,76221,Duane Allen,Transit Operator,71656.21,77180.55,8473.89,36885.14,157310.65,194195.79,NaN,San Francisco,NaN
1,76791,Freeman Chee,Transit Operator,70505.55,73855.36,6952.61,35914.07,151313.52,187227.59,NaN,San Francisco,NaN
2,77250,Louis E Galarce,Transit Operator,72756.19,66225.79,6498.14,36882.74,145480.12,182362.86,NaN,San Francisco,NaN
3,77511,Nancy Padilla,Transit Operator,70905.54,67189.10,6523.21,35992.98,144617.85,180610.83,NaN,San Francisco,NaN
4,78220,Robert J Dufresne,Transit Operator,69951.14,57791.57,9916.76,36450.22,137659.47,174109.69,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2290,110138,Elias Y Sarsour,Transit Operator,NaN,0.00,437.88,102.84,437.88,540.72,NaN,San Francisco,NaN
2291,110179,Amado S Altobano,Transit Operator,371.95,0.00,0.00,105.34,371.95,477.29,NaN,San Francisco,NaN
2292,110384,Darrell L Dillard,Transit Operator,NaN,0.00,192.47,0.00,192.47,192.47,NaN,San Francisco,NaN
2293,110385,Sergio G Angulo,Transit Operator,NaN,0.00,186.18,0.00,186.18,186.18,NaN,San Francisco,NaN
2294,110441,Maria E Zuniga,Transit Operator,NaN,0.00,114.54,0.00,114.54,114.54,NaN,San Francisco,NaN

In [109]:
# single oocurance

num_single_occurrence_jobs = (job_title_count == 1).sum()
num_single_occurrence_jobs

202

In [139]:
(job_title_count <= 1).sum()

202

In [149]:
sal_2013[sal_2013['JobTitle'].isin(job_title_count)]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

In [153]:
sal_13 = sal[sal['Year'] == 2013]
sal_13

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.00,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.00,23236.00,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN
72927,72928,Samson Lai,"Battalion Chief, Fire Suppress",186236.42,131217.63,29648.27,57064.95,347102.32,404167.27,2013,NaN,San Francisco,NaN
72928,72929,Ellen G Moffatt,Asst Med Examiner,272855.51,23727.91,38954.54,66198.92,335537.96,401736.88,2013,NaN,San Francisco,NaN
72929,72930,Robert L Shaw,"Dep Dir for Investments, Ret",315572.01,0.00,0.00,82849.66,315572.01,398421.67,2013,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110526,110527,Arthur L Curry,PS Aide Health Services,NaN,0.00,10.67,0.00,10.67,10.67,2013,NaN,San Francisco,NaN
110527,110528,Nereida Vega,Senior Clerk,NaN,0.00,5.56,0.00,5.56,5.56,2013,NaN,San Francisco,NaN
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.00,0.00,-2.73,0.00,-2.73,2013,NaN,San Francisco,NaN
110529,110530,Mark E Laherty,Police Officer 3,NaN,0.00,0.00,-8.20,0.00,-8.20,2013,NaN,San Francisco,NaN
110530,110531,David P Kucia,Police Officer 3,NaN,0.00,0.00,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN

In [157]:
job_count = sal_13['JobTitle'].value_counts()
job_count

JobTitle
Transit Operator                  2295
Special Nurse                     1445
Registered Nurse                  1231
Public Svc Aide-Public Works       859
Custodian                          789
                                  ...
Sr General Utility Mechanic          1
Sprv Adult Prob Ofc (SFERS)          1
Mayoral Staff XII                    1
Pr Investigator, Tax Collector       1
Senior Assessment Clerk              1
Name: count, Length: 1051, dtype: int64

In [158]:
job_count['Custodian']

789

In [164]:
job_count.sort_values(ascending=True)

JobTitle
Senior Assessment Clerk            1
Real Estate Devt. Mgr, SFMTA       1
Assistant Director, Probate        1
Chief Fire Alarm Dispatcher        1
Chief Housing Inspector            1
                                ...
Custodian                        789
Public Svc Aide-Public Works     859
Registered Nurse                1231
Special Nurse                   1445
Transit Operator                2295
Name: count, Length: 1051, dtype: int64

In [167]:
job_count

JobTitle
Transit Operator                  2295
Special Nurse                     1445
Registered Nurse                  1231
Public Svc Aide-Public Works       859
Custodian                          789
                                  ...
Sr General Utility Mechanic          1
Sprv Adult Prob Ofc (SFERS)          1
Mayoral Staff XII                    1
Pr Investigator, Tax Collector       1
Senior Assessment Clerk              1
Name: count, Length: 1051, dtype: int64

In [168]:
(job_count == 1).sum()

202

In [171]:
job_title_count.index[job_title_count == 1]

Index(['Laboratory Technician I', 'Sctry, Juv Probation Comm',
       'Drug Court Coordinator', 'IS Operator-Journey',
       'Court Asst., Superior Court', 'Asst Director, Juvenile Hall',
       'Special Assistant 14', 'Parking Hearing Examiner',
       'Public Safety Comm Tech', 'Chief Deputy Adlt Probation Of',
       ...
       'Arborist Technician Supv II', 'Secretary, Library Commission',
       'Ex Asst to the Controller', 'Animal Care Supervisor',
       'Training Technician', 'Sr General Utility Mechanic',
       'Sprv Adult Prob Ofc (SFERS)', 'Mayoral Staff XII',
       'Pr Investigator, Tax Collector', 'Senior Assessment Clerk'],
      dtype='object', name='JobTitle', length=202)

In [186]:
a = sal_13['JobTitle']
a

72925                    Chief of Police
72926             Chief, Fire Department
72927     Battalion Chief, Fire Suppress
72928                  Asst Med Examiner
72929       Dep Dir for Investments, Ret
                       ...
110526           PS Aide Health Services
110527                      Senior Clerk
110528                  Police Officer 3
110529                  Police Officer 3
110530                  Police Officer 3
Name: JobTitle, Length: 37606, dtype: object

In [187]:
b = job_title_count.index[job_title_count>= 1]
b

Index(['Transit Operator', 'Special Nurse', 'Registered Nurse',
       'Public Svc Aide-Public Works', 'Custodian', 'Firefighter',
       'Police Officer 3', 'Patient Care Assistant', 'Recreation Leader',
       'Deputy Sheriff',
       ...
       'Arborist Technician Supv II', 'Secretary, Library Commission',
       'Ex Asst to the Controller', 'Animal Care Supervisor',
       'Training Technician', 'Sr General Utility Mechanic',
       'Sprv Adult Prob Ofc (SFERS)', 'Mayoral Staff XII',
       'Pr Investigator, Tax Collector', 'Senior Assessment Clerk'],
      dtype='object', name='JobTitle', length=1051)

In [188]:
c = sal_13[a.isin(b)]
c

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.00,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.00,23236.00,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN
72927,72928,Samson Lai,"Battalion Chief, Fire Suppress",186236.42,131217.63,29648.27,57064.95,347102.32,404167.27,2013,NaN,San Francisco,NaN
72928,72929,Ellen G Moffatt,Asst Med Examiner,272855.51,23727.91,38954.54,66198.92,335537.96,401736.88,2013,NaN,San Francisco,NaN
72929,72930,Robert L Shaw,"Dep Dir for Investments, Ret",315572.01,0.00,0.00,82849.66,315572.01,398421.67,2013,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110526,110527,Arthur L Curry,PS Aide Health Services,NaN,0.00,10.67,0.00,10.67,10.67,2013,NaN,San Francisco,NaN
110527,110528,Nereida Vega,Senior Clerk,NaN,0.00,5.56,0.00,5.56,5.56,2013,NaN,San Francisco,NaN
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.00,0.00,-2.73,0.00,-2.73,2013,NaN,San Francisco,NaN
110529,110530,Mark E Laherty,Police Officer 3,NaN,0.00,0.00,-8.20,0.00,-8.20,2013,NaN,San Francisco,NaN
110530,110531,David P Kucia,Police Officer 3,NaN,0.00,0.00,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN

In [146]:
sal_2013_one_person_job = sal_2013[sal_2013['JobTitle'].isin(job_title_count.index[job_title_count == 1])]
sal_2013_one_person_job

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.0,23236.00,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN
72929,72930,Robert L Shaw,"Dep Dir for Investments, Ret",315572.01,0.0,0.00,82849.66,315572.01,398421.67,2013,NaN,San Francisco,NaN
72933,72934,Edward D Reiskin,"Gen Mgr, Public Trnsp Dept",305307.89,0.0,0.00,80860.60,305307.89,386168.49,2013,NaN,San Francisco,NaN
72945,72946,Edwin M Lee,Mayor,285446.37,0.0,0.00,77105.29,285446.37,362551.66,2013,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106963,106964,Hiedi L Antoine,IS Technician Assistant,NaN,0.0,0.00,7959.18,0.00,7959.18,2013,NaN,San Francisco,NaN
108503,108504,Saundra S Magana,Head Photographer,NaN,0.0,2987.97,540.52,2987.97,3528.49,2013,NaN,San Francisco,NaN
109811,109812,Kent A Cunningham,Animal Control Supervisor,662.70,0.0,25.40,294.41,688.10,982.51,2013,NaN,San Francisco,NaN
110512,110513,William John Erkelens Jr,Special Assistant 14,26.34,0.0,0.00,0.26,26.34,26.60,2013,NaN,San Francisco,NaN
110516,110517,Maria D Quinones,Senior Assessment Clerk,NaN,0.0,20.73,0.00,20.73,20.73,2013,NaN,San Francisco,NaN

** How many people have the word Chief in their job title? (This is pretty tricky) **

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!